body {
  padding-left: 30px;
  font-size: 16px;
  font-family: 'Roboto', helvetica, sans-serif;
}


h1 {
  font-size: 25px;
}


.contactForm label {
  display: block;
  margin-bottom: 5px;
}

.contactForm input, .contactForm select {
  display: block;
  width: 250px;
  margin-bottom: 15px;
}

.contactForm input {
  padding: 3px;
}

.contactForm select {
  cursor: pointer;
}

.contactForm button {
  width: 150px;
  padding: 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}

.viewInfo {
  float: right;
  margin-left: 20px;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  position: fixed;
  left: 400px;
  top: 100px;
}